body{
  height: 1000px;
}

.card{
  display: inline-block;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.5s;
}

.card:hover{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card:hover .overlay{
  background-color: rgba(255, 255, 255, 0.63);
  transition: background-color 0.5s;
}

.card:hover .btn{
  display: block;
  transition: display 0.5s;
}

.img{
  padding: 20px;
  width: 500px;
}

.rel{
  position: relative;
}

.abs{
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.overlay{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0);
}

.btn{
  display: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 2px;
  border-color: black;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.5s;
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.527);
}